*.o
*.mod
*.pdf

*.eps

fort.*

*~
.*~
*#
.*#
.*.txt

.DS_Store

main
main_abc
main_ebc
main_defval
simul
gplot
montecarlo
estimates_epsilons
montecarlo_par
montecarlo_initcond
markovsimul
smm_estimation
cal_estimation
elasticities
policies
euler
irfs
aggirfs
main2
greek_crisis_exp
stats_show
stats_show_defval
smm_estimation_par
